
@{
    ViewData["Title"] = "Кампании обзвона";
}
<a class="btn btn-info" href="@Url.Action("Edit")">Добавить новую</a>
<table class="table table-striped table-paginated" data-datasource="@Url.Action("LoadData")" data-initial-page="@ViewBag.Page">
    <thead>
        <tr>
            <th>
                Наименование кампании
            </th>
            <th>
                Статус
            </th>
            <th>
                Статистика
            </th>
            <th>
                Голосовая запись
            </th>
            <th>
                Список абонентов
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<a class="btn btn-info" href="@Url.Action("Edit")">Добавить новую</a>

@section Scripts {
    <script src="~/js/paginatedtable.js"></script>
}

