@using Microsoft.AspNetCore.Identity
@inject SignInManager<UserModel> SignInManager

@model IEnumerable<AstCaller.ViewModels.Reports.ReportCallMeViewModel>

@{
    ViewData["Title"] = "Перезвонить";
}

<div class="row">
    <div class="col-md2 d-print-none">
        <div class="nav flex-column nav-pills">
            <a asp-action="Campaign" class="nav-link">По Кампаниям</a>
            <a asp-action="FailedCalls" class="nav-link">По необработанным</a>
            <a asp-action="CallMe" class="nav-link active">Перезвонить</a>
        </div>
    </div>
    <div class="col-md-10 report-container">
        <div class="d-print-none">
            <form asp-action="CallMe" method="get">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Список абонентов для перезвона по кампании обзвона</span>
                    </div>
                    <select class="form-control"
                            name="campaignId"
                            asp-items="(ViewBag.Campaigns as IEnumerable<AstCaller.ViewModels.IdNameViewModel>)
                                            .Select(x=>new SelectListItem { Value=x.Id.ToString(), Text=x.Name, Selected=x.Id == (int)ViewBag.CampaignId })">
                    </select>
                    <div class="input-group-append">
                        <input type="submit" class="btn btn-outline-secondary" value="Сформировать" />
                    </div>
                </div>
            </form>
        </div>

        @if (ViewBag.CampaignId > 0)
        {
            <div class="d-none d-print-block">
                <h3 class="text-center">Список абонентов для перезвона по кампании обзвона</h3>
                <h4 class="text-center">@((ViewBag.Campaigns as IEnumerable<AstCaller.ViewModels.IdNameViewModel>)?.FirstOrDefault(x => x.Id == (int)ViewBag.CampaignId)?.Name)</h4>
            </div>
            <div class="d-flex flex-row-reverse d-print-none">
                <button id="printout" class="btn btn-secondary">Распечатать</button>
            </div>
            <div id="reportContainer" class="report-container">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Phone)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Phone)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        (function () {
            var btn = $('#printout');
            if (!btn.length)
                return;

            btn.click(function () {
                window.print();
            });
        })();
    </script>
}