
@{
    ViewData["Title"] = "Отчеты";
}
<div class="row">
    <div class="col-md2">
        <div class="nav flex-column nav-pills">
            <a asp-action="Campaign" class="nav-link">По Кампаниям</a>
        </div>
    </div>
    <div class="col-md-10">
        <h2 style="margin-top:50px;" class="text-center">Выберите отчет в меню слева</h2>
    </div>
</div>